# Байт-код Python (ускоряет запуск, не нужен в репозитории)
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (у каждого разработчика свое)
venv/
.venv/
env/
ENV/

# Переменные окружения и секреты (НИКОГДА не коммитьте их)
.env
.venv
*.env

# Специфичные файлы VS Code
.vscode/
# Если вы хотите сохранить настройки отладки или рекомендации расширений, 
# можно добавить исключения:
# !.vscode/launch.json
# !.vscode/extensions.json

# Распределяемые пакеты и артефакты сборки
dist/
build/
*.egg-info/

# Файлы логов и временные данные
*.log
data/

# Юнит-тесты и покрытие (Pytest, Coverage)
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook (чекпоинты)
.ipynb_checkpoints
